@{
    ViewData["Title"] = "Home Page";
    @model List<BanMyPham.Models.SanPham>
}

@* Banner *@
<div class="my-1 d-flex justify-content-between " style="height:320px">
    <div class="" style="width:65%;height:auto">
        <img src="~/image/banner.png" class="rounded-start object-fit-cover" width="98%" height="100%" alt="Alternate Text" />
    </div> 
    <div class="" style="width:35%;height:100%">
        <img src="~/image/quangcao1.jpg" class="rounded-start object-fit-scale mb-1" width="100%" height="49.5%" alt="Alternate Text" /> <br />
        <img src="~/image/quangcao2.jpg" class="rounded-start object-fit-scale" width="100%" height="49.5%" alt="Alternate Text" />
    </div>
</div>

@* Logo *@
<div class="d-flex gap-3 justify-content-around mt-2">
    <img  src="~/image/DocQuyen.png" alt="Alternate Text" style="width:80px ; height:75px" />
    <img src="~/image/Moi.png" alt="Alternate Text" style="width:80px ; height:75px" />
    <img src="~/image/Hanghot.png" alt="Alternate Text" style="width:80px ; height:75px" />
    <img src="~/image/m1t1.png" alt="Alternate Text" style="width:80px ; height:75px" />
    <img src="~/image/mualacoqua.png" alt="Alternate Text" style="width:80px ; height:75px" />
    <img src="~/image/tracuudonhang.png" alt="Alternate Text" style="width:80px ; height:75px" class=""/>
</div>


@* Sản phẩm mới  *@
<div></div>
<div class="p-4  mt-5 pt-2">
    <h3 class="text-center">Sản phẩm ưu đãi <i class="fa-solid fa-fire" style="color: #e73d13;"></i> <i class="fa-solid fa-fire" style="color: #e73d13;"></i></h3>
    <div class="d-flex flex-wrap gap-2 ps-3 " style="width:100% ; margin:10px auto">

    @{
        @foreach(var x in ViewBag.sanpham as List<BanMyPham.Models.SanPham>)
        {

                <div class="card" style="width: 16%;cursor:pointer" onclick="window.location.href='@Url.Action("Index", "ChiTietSanPham", new { id = x.MaSanPham })'">
                    <!-- Thêm hiệu ứng hover vào ảnh -->
                    <img src="/@x.HinhAnh" class="card-img-top" style="object-fit:cover; transition: transform 0.3s ease;" alt="Ảnh lỗi">
                    <div class="card-body">
                        <p class="card-text fw-bolder" style="color: orangered; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;">
                            @x.TenSanPham
                        </p>
                        <p class="fs-4 fw-normal text-primary">
                            @string.Format("{0:N0} VNĐ", x.NguyenGia)
                        </p>
                    </div>
                </div>
        }
       

        
    }
    </div>
</div>

@* Sản phẩm hot  *@
<div></div>
<div class="p-4  mt-5 pt-2">
    <h3 class="text-center">Sản phẩm hot <i class="fa-solid fa-fire" style="color: #e73d13;"></i> <i class="fa-solid fa-fire" style="color: #e73d13;"></i></h3>
    <div class="d-flex flex-wrap gap-2 ps-3 " style="width:100% ; margin:10px auto">

    @{
        @foreach(var x in ViewBag.sanpham as List<BanMyPham.Models.SanPham>)
        {

                <div class="card" style="width: 16%;cursor:pointer" onclick="window.location.href='@Url.Action("Index", "ChiTietSanPham", new { id = x.MaSanPham })'">
                    <!-- Thêm hiệu ứng hover vào ảnh -->
                    <img src="/@x.HinhAnh" class="card-img-top" style="object-fit:cover; transition: transform 0.3s ease;" alt="Ảnh lỗi">
                    <div class="card-body">
                        <p class="card-text fw-bolder" style="color: orangered; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;">
                            @x.TenSanPham
                        </p>
                        <p class="fs-4 fw-normal text-primary">
                            @string.Format("{0:N0} VNĐ", x.NguyenGia)
                        </p>
                    </div>
                </div>
        }
       

        
    }
    </div>
</div>

<style>
    .card-img-top:hover {
        transform: scale(1.1); /* Phóng to ảnh 10% */
    }
</style>

